name: MailPlugger CI

on: [push, pull_request]

jobs:
  test-with-ruby:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.2', '3.3', '3.4', '4.0']

    steps:
    - uses: actions/checkout@v1

    - name: Setup Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}

    - name: Install dependencies
      run: |
        bundle install
        bundle exec appraisal install

    - name: Run tests
      run: bundle exec appraisal rake

    - name: Publish code coverage
      uses: qltysh/qlty-action/coverage@v1
      with:
        token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
        files: coverage/.resultset.json
